* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: gray;
  color: #fff;
}

div {
  background: red;
}

.caixa {
  background: blue;
}

#ultima-caixa {
  background: yellow;
}

p {
  color: #000;
}
