* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box1 {
  width: 200px;
  border: 6px solid #000;
  padding: 30px;
  text-align: center;
  margin-top: 28px;
  background: #fa4e10;
}

.box2 {
  width: 200px;
  border: 6px solid #000;
  padding: 30px;
  text-align: center;
  margin-top: 28px;
  background: #3e4e10;
}

.box3 {
  width: 150px;
  height: 150px;
  border: 6px solid #000;
  padding: 50px;
  text-align: center;
  margin-top: 28px;
  background: #3e4e10;
  border-radius: 50%;
}
